[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
acres = "*"
aiohappyeyeballs = "*"
aiohttp = "*"
aiosignal = "*"
altair = "*"
annotated-types = "*"
anyio = "*"
attrs = "*"
beautifulsoup4 = "*"
black = "*"
bleach = "*"
blinker = "*"
cachetools = "*"
certifi = "*"
cffi = "*"
chardet = "*"
charset-normalizer = "*"
chromedriver-autoinstaller = "*"
ci-info = "*"
click = "*"
colorama = "*"
configobj = "*"
configparser = "*"
contourpy = "*"
cssselect = "*"
cycler = "*"
dataclasses-json = "*"
defusedxml = "*"
deprecated = "*"
dirtyjson = "*"
distro = "*"
ebooklib = "*"
entrypoints = "*"
etelemetry = "*"
faker = "*"
fastapi = "*"
fastjsonschema = "*"
favicon = "*"
feedfinder2 = "*"
feedparser = "*"
filelock = "*"
filetype = "*"
fonttools = "*"
frozenlist = "*"
fsspec = "*"
gitdb = "*"
gitpython = "*"
greenlet = "*"
h11 = "*"
htbuilder = "*"
html2text = "*"
httpcore = "*"
httplib2 = "*"
httpx = "*"
huggingface-hub = "*"
idna = "*"
isodate = "*"
jieba3k = "*"
jinja2 = "*"
jiter = "*"
joblib = "*"
jsonschema = "*"
jsonschema-specifications = "*"
jupyter-client = "*"
jupyter-core = "*"
jupyterlab-pygments = "*"
kiwisolver = "*"
llama-cloud = "*"
llama-index = "*"
llama-index-agent-openai = "*"
llama-index-cli = "*"
llama-index-core = "*"
llama-index-embeddings-huggingface = "*"
llama-index-embeddings-openai = "*"
llama-index-indices-managed-llama-cloud = "*"
llama-index-llms-ollama = "*"
llama-index-llms-openai = "*"
llama-index-multi-modal-llms-openai = "*"
llama-index-program-openai = "*"
llama-index-question-gen-openai = "*"
llama-index-readers-file = "*"
llama-index-readers-llama-parse = "*"
llama-index-readers-web = "*"
llama-parse = "*"
looseversion = "*"
lxml = "*"
markdown = "*"
markdown-it-py = "*"
markdownlit = "*"
markupsafe = "*"
marshmallow = "*"
matplotlib = "*"
mdurl = "*"
mistune = "*"
mpmath = "*"
multidict = "*"
mypy-extensions = "*"
narwhals = "*"
nbclient = "*"
nbconvert = "*"
nbformat = "*"
nest-asyncio = "*"
networkx = "*"
newspaper3k = "*"
nibabel = "*"
nipype = "*"
nltk = "*"
numpy = "*"
ollama = "*"
openai = "*"
outcome = "*"
packaging = "*"
pandas = "*"
pandocfilters = "*"
pathlib = "*"
pathspec = "*"
pillow = "*"
platformdirs = "*"
playwright = "*"
plotly = "*"
prometheus-client = "*"
propcache = "*"
protobuf = "*"
prov = "*"
puremagic = "*"
pyarrow = "*"
pycparser = "*"
pycryptodome = "*"
pydantic = "*"
pydantic-core = "*"
pydeck = "*"
pydot = "*"
pyee = "*"
pyexiftool = "*"
pygments = "*"
pymdown-extensions = "*"
pymupdf = "*"
pyparsing = "*"
pypdf = "*"
pypdf2 = "*"
pysocks = "*"
python-dateutil = "*"
pytz = "*"
pywin32 = "*"
pyxnat = "*"
pyyaml = "*"
pyzmq = "*"
rdflib = "*"
referencing = "*"
regex = "*"
reportlab = "*"
requests = "*"
requests-file = "*"
rich = "*"
rpds-py = "*"
safetensors = "*"
scikit-learn = "*"
scipy = "*"
selenium = "*"
sentence-transformers = "*"
sgmllib3k = "*"
simplejson = "*"
six = "*"
smmap = "*"
sniffio = "*"
sortedcontainers = "*"
soupsieve = "*"
spider-client = "*"
sqlalchemy = "*"
st-annotated-text = "*"
st-theme = "*"
starlette = "*"
streamlit = "*"
streamlit-camera-input-live = "*"
streamlit-card = "*"
streamlit-embedcode = "*"
streamlit-extras = "*"
streamlit-faker = "*"
streamlit-image-coordinates = "*"
streamlit-keyup = "*"
streamlit-tags = "*"
streamlit-toggle-switch = "*"
streamlit-vertical-slider = "*"
striprtf = "*"
sympy = "*"
tenacity = "*"
threadpoolctl = "*"
tiktoken = "*"
tinycss2 = "*"
tinysegmenter = "*"
tldextract = "*"
tokenizers = "*"
toml = "*"
torch = "*"
torchaudio = "*"
torchvision = "*"
tornado = "*"
tqdm = "*"
traitlets = "*"
traits = "*"
transformers = "*"
trio = "*"
trio-websocket = "*"
typing-inspect = "*"
typing-extensions = "*"
tzdata = "*"
urllib3 = "*"
uvicorn = "*"
validators = "*"
watchdog = "*"
webencodings = "*"
websocket-client = "*"
wrapt = "*"
wsproto = "*"
yarl = "*"

[dev-packages]

[requires]
python_version = "3.12"
